{
  "presets": [
    "env",
    "vue"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "@site": "assets"
        }
      }
    ]
  ]
}
