
###> symfony/framework-bundle ###
/.env
/public/bundles/
/public/build/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symplify/easy-coding-standard ###
/.ecs_cache
###< symplify/easy-coding-standard ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
/coverage
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

### admin frontend
.cache
node_modules
dist

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###


