nav ul a,
nav .brand-logo {
  color: #444;
}

.carousel .carousel-item {
    width:280px !important;
    
}

nav div { height: inherit; }
a { height: inherit; }
.brand-logo { height: inherit; width: auto; }

.large-logo {
	width: 60%;
}
@media only screen and (max-width: 992px) {
	.large-logo {
		width:90%;
	}
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #444;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 30% !important;
  }
  .index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  .index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}