<!DOCTYPE html>
<html>
<head>
    <title>Caracal CMS</title>
    <link rel="stylesheet" href="{{ asset('build/index.css') }}">
</head>
<body>
<script src="{{ asset('build/index.js') }}"></script>
</body>
</html>