{% extends 'editorial/base.html.twig' %}

{% block content %}
    <!-- Section -->
    <section>
        <header class="major">
            <h2>{{ article.title }}</h2>
        </header>
        {% if article.image %}
            <span class="image main">
                <img src="{{ article_image_path ~ '/' ~ article.image }}" alt="{{ article.title }}" />
            </span>
        {% endif %}

        {{ article.description|md2html|raw }}
    </section>
{% endblock %}