{% extends 'massively/base.html.twig' %}

{% block content %}
    {{ render(controller('AppBundle:Article:showHero', { 'limit': 4 })) }}

    {{ render(controller('AppBundle:Article:showLast', { 'limit': 4 })) }}

    <!-- Footer -->
    <footer>
        <div class="pagination">
            <a href="{{ path('articles') }}" class="next">Больше статей</a>
        </div>
    </footer>
{% endblock %}