{% extends 'massively/base.html.twig' %}

{% block content %}
    <!-- Post -->
    <section class="post">
        {% if success %}
            <p>Ваше сообщение сохранено, свяжемся с вами через некоторое время.</p>
        {% else %}
            <p>Что-то пошло не так. Попробуйте еще раз позже.</p>
        {% endif %}
    </section>
{% endblock %}